<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
</head>
<body>

    <h2>Hello fucking world!</h2>
    <br>

    <h3>Choose your lunch:</h3>
    <form action="/lightLunch">
        <input type="submit" value="Light lunch"/>
    </form>
    <form action="/standardLunch">
        <input type="submit" value="Standard lunch"/>
    </form>
    <form action="/fullLunch">
        <input type="submit" value="Full lunch"/>
    </form>

</body>
</html>
